﻿<div class="container view-container">
    <div class="column">
        <aside class="service-item">
            <div class="icon"><i class="fa fa-certificate"></i></div>
            <h3>Quality</h3>
            <p>
                Our records are the best and advanced in the market.
            </p>
        </aside>

        <aside class="service-item">
            <div class="icon"><i class="fa fa-diamond"></i></div>
            <h3>Exclusivity</h3>
            <p>
                When an exclisive album is out we are the first ones to get it for you.
            </p>
        </aside>

        <aside class="service-item">
            <div class="icon"><i class="fa fa-bolt"></i></div>
            <h3>Service</h3>
            <p>
                We believe that service is everything and here to give you the best shopping and listening experience.
            </p>
        </aside>

    </div>
</div>
