﻿
<div onload="draw()">
    <section id=''>
        <header class="video-header">
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="https://media.giphy.com/media/4T7zBzdeNEtjThYDWn/giphy.mp4" type="video/mp4">
            </video>
            <div class="container main-text">
                <div class="d-flex flex-wrap h-100 text-center align-items-center">
                    <div id="site-header">
                        <div class="title wow zoomIn">Retrocord</div>
                    </div>
                    <div class="w-100 text-white">
                        <a asp-area="" asp-controller="Home" asp-action="Shop">
                            <button id="index-button">
                                Shop Online
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </section>
</div>