﻿@using Microsoft.CodeAnalysis
@{
    ViewData["Title"] = "Shop";
}
<div class="container view-container">
    <div class="row">
        <aside class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@ViewBag.CartSize</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var orderItem in ViewBag.Cart)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="col-1 px-0" >
                            <span class="badge badge-pill badge-secondary">@orderItem.Quantity</span>
                        </div>
                        <div class="col-8 pl-1 pr-0">
                            <h6 class="my-0">@orderItem.Product.Name</h6>
                            <small class="text-muted">@orderItem.Product.Category.Name</small>
                        </div>
                        <span class="text-muted col-3 pr-0">
                            <span class="value">@ViewBag.ConvertToCurrentCurrency(orderItem.Product.Price * orderItem.Quantity).ToString("N2")</span><span class="currency">@((char) ViewBag.CurrentCurrency)</span>
                        </span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (@ViewBag.CurrentCurrency)</span>
                    <strong>
                        <span class="value">@ViewBag.CartSum.ToString("N2")</span><span class="currency">@((char) ViewBag.CurrentCurrency)</span>
                    </strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="row">
                    <label class="col-sm-6 col-form-label">Currency</label>
                    <div class="col-sm-5">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Checkout" asp-action="Checkout" asp-route-choosenCurrency="ILS"
                               class=@(ViewBag.CurrentCurrency == Currency.ILS ? "btn btn-secondary active" : "btn btn-secondary")>
                                <img src="~/images/israel.png"/>
                            </a>
                            <a asp-controller="Checkout" asp-action="Checkout" asp-route-choosenCurrency="EUR"
                               class=@(ViewBag.CurrentCurrency == Currency.EUR ? "btn btn-secondary active" : "btn btn-secondary")>
                                <img src="~/images/european-union.png"/>
                            </a>
                            <a asp-controller="Checkout" asp-action="Checkout" asp-route-choosenCurrency="USD"
                               class=@(ViewBag.CurrentCurrency == Currency.USD ? "btn btn-secondary active" : "btn btn-secondary")>
                                <img src="~/images/united-states-of-america.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </form>


        </aside>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate asp-action="AddOrder" asp-controller="Checkout" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text"
                               class="@(ViewBag.GetInputClass("FirstName"))"
                               id="Costumer.FirstName" name="Costumer.FirstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="@(ViewBag.GetInputClass("LastName"))" id="Costumer.LastName" name="Costumer.LastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">
                        Email
                        <span class="text-muted"></span>
                    </label>
                    <input type="email" class="@(ViewBag.GetInputClass("Email"))" id="Costumer.Email" name="Costumer.Email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="@(ViewBag.GetInputClass("Address"))" id="address" name="Address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="@(ViewBag.GetInputClass("Zip"))" id="zip" name="Zip" pattern="\d{7}" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="@(ViewBag.GetInputClass("CCName"))" id="cc-name" name="CCName" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="@(ViewBag.GetInputClass("CCNumber"))" id="cc-number" name="CCNumber" pattern="\d{16}" placeholder="" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="@(ViewBag.GetInputClass("CCExpiration"))" id="cc-expiration" name="CCExpiration" pattern="([0][1-9]|[1][0-2])/\d{2}" placeholder="12/20" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="@(ViewBag.GetInputClass("CCCvv"))" id="cc-cvv" placeholder="" name="CCCvv" pattern="\d{3}" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    Continue to checkout
                </button>
            </form>
        </div></aside>
    </div>
</div>


<script type="text/javascript" src="~/js/checkout.js"></script>